lib/img_recog/frames/*
lib/img_recog/old_frames
lib/img_recog/outp/*
lib/img_recog/videos/*
lib/img_recog/working_frames/*
**/*.pyc
write_up/*.BACKUP
write_up/*.NOAPPENDIX
write_up/*.log
write_up/*.pdf
write_up/*.gz
write_up/figures/*.png