lib/img_recog/frames/*
lib/img_recog/old_frames
lib/img_recog/outp/*
lib/img_recog/videos/*
lib/img_recog/working_frames/*
**/*.pyc
write_up/*.BACKUP
write_up/*.NOAPPENDIX
write_up/*.log
write_up/*.pdf
write_up/*.gz
write_up/*.bak
write_up/*.aux
write_up/*.sav
write_up/*.toc
write_up/*.out
write_up/*.bbl
write_up/*.blg
write_up/figures/*.png
