lib/img_recog/frames/*
lib/img_recog/old_frames
lib/img_recog/outp/*
lib/img_recog/videos/*
lib/img_recog/working_frames/*
**/*.pyc
write_up/*
!write_up/*.tex
!write_up/*.bib
!write_up/lit/*
!write_up/images/*